.underwater {
    height: 100vh;
    background: url('./Fish_tank.png') no-repeat center center fixed;
    background-size: cover;
    top:8%; 
    bottom:0; 
    left:0; 
    right:0;
    opacity: 0.8;
    overflow-x: hidden; /* 隱藏 x 軸 */
  transform: translateZ(0); /* 啟用 GPU 加速 */
  }
  .fish {
    position: absolute;
    width: 200px;
    height: 300px;
    background: url('./fish3.png') no-repeat center center;
    background-size: contain;
    animation: swim 8s linear infinite;
  }
  
  .fish1 {
    top: 5%;
    left: 20%;
  }
  
  .fish2 {
    top: 20%;
    left: 40%;
  }
  
  .fish3 {
    top: 20%;
    left: 60%;
  }

  @keyframes swim {
    from {
      transform: translateX(70%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  .diver {
    cursor: url('./net_clear.png'), auto;
    position: absolute;
    width: 300px;
    height: 200px;
    background: url('./fish1.png') no-repeat center center;
    background-size: contain;
    bottom: 10%;
    left: 15%;
    animation: dive 8s ease-in infinite;
  }

  /* 在螢幕寬度小於 768px 時，讓 .fish 和 .diver 縮小至 50% */
@media (max-width: 767px) {
  .hero-title{
    z-index: -10;
  }
  .underwater{
    z-index: -1;
    background-size: contain;
  }
  .fish {
    width: 100px;
    height: 150px;
    top: 2.5%;
    left: 10%;
    display: none;
  }
  .diver {
    width: 150px;
    height: 100px;
    bottom: 5%;
    left: 5%;
    display: none;
  }
}

/* 在螢幕寬度介於 768px 至 992px 時，讓 .fish 和 .diver 縮小至 75% */
@media (min-width: 768px) and (max-width: 992px) {
  .hero-title{
    z-index: -10;
    position: fixed;
  }
  .underwater{
    z-index: -1;
    background-size: contain;
  }
  .fish {
    width: 150px;
    height: 225px;
    top: 3%;
    left: 20%;
    display: none;
  }
  .diver {
    width: 225px;
    height: 150px;
    bottom: 10%;
    left: 10%;
    display: none;
  }
}

  
  @keyframes dive {
    0% {
      bottom: 15%;
    }
    30% {
      bottom: 20%;
      left:30%;
    }
    50%{
        rotate:5deg;
    }
    70% {
      bottom: 20%;
      left:55%;
      rotate:10deg;
    }
    100% {
      bottom: 35%;
      left:70%
    }
  }
  .bgmusic {
    display: none;
    position: absolute;
    bottom: 2%;
    right: 10%;
  }
  .hero-title {
    color:black;
  }

  #footer {
    background-color: rgb(89,177,218);
  }